body {
    background-color: rgb(100, 240, 193);
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    .details{
        display: flex;
        
       
       gap: 16px;
    
       p{
        display: flex;
        
        border: 1px solid blue;
        border-radius: 4px;
        padding: 4px;
       }

    }

    .chart-container {
        width: 80%; 
        max-width: 800px; 
        min-width: 300px; 
    }

    h1{
       
        border: 1px solid blue;
        border-radius: 4px;
        padding: 4px;
        max-width: max-content;
    }

    

    

}
@media (max-width: 600px) {
    .chart-container {
        width: 95%;
    }

}