body {
    background-color: rgb(123, 195, 229);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    
}

.chart-container {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
}

@media (min-width: 769px) {
    .chart-container {
        width: 50%;
    }

    h1 {
        margin-bottom: 0px;
    }
}